#datasource:
#  url: jdbc:mysql://mysql-server-tienle0207.mysql.database.azure.com:3306
#  schema: db_example
#  username: dactien020796@mysql-server-tienle0207
#  password: Tino1703

datasource:
  url: jdbc:mysql://localhost:3306
  schema: db_example
  username: root
  password: root

spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: ${datasource.url}/${datasource.schema}
    username: ${datasource.username}
    password: ${datasource.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: true
    baseline-on-migrate: false
    url: ${datasource.url}
    schemas: ${datasource.schema}
    user: ${datasource.username}
    password: ${datasource.password}
  cache:
    type: redis
    redis:
      cache-null-values: false
      time-to-live: 86400000 # 1 day
  redis:
    host: localhost
#    host: dactien020796.redis.cache.windows.net
#    password: WJVGHUnTIdZ2rVC3rPBDAnH0iKYzcwSMBAzCaD9hWSs=

jwt:
  secret: tino1703