spring:
  datasource:
    url: jdbc:mysql://localhost:3306/db_example
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop

jwt:
  secret: tino1703